/* || GLOBAL STYLES
    - Imports
    - Typography
    - General Styles
    - Header and Main Navigation
    - Footer
*/

/* || Imports */

@import url(./reset.css);
@import url(./variables.css);

/* || Typography */

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--neutral-color-black);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size-mobile-h1);
}

h2 {
  font-size: var(--font-size-mobile-h2);
}

h3 {
  font-size: var(--font-size-mobile-h3);
}

h4 {
  font-size: var(--font-size-mobile-h4);
}

h5 {
  font-size: var(--font-size-mobile-h5);
}

.lead-p {
  font-weight: 600;
  font-size: var(--font-size-mobile-body-large);
}

@media (min-width: 600px) {
  h1 {
    font-size: var(--font-size-desktop-h1);
  }

  h2 {
    font-size: var(--font-size-desktop-h2);
  }

  h3 {
    font-size: var(--font-size-desktop-h3);
  }

  h4 {
    font-size: var(--font-size-desktop-h4);
  }

  h5 {
    font-size: var(--font-size-desktop-h5);
  }

  .lead-p {
    font-size: var(--font-size-desktop-body-large);
  }
}

/* || General Styles */

html {
  scroll-behavior: smooth;
}

section,
article {
  scroll-margin-top: 3.5rem;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--padding-mobile-content);
}

.flex {
  display: flex;
}

.flex__column {
  display: flex;
  flex-direction: column;
}

.button {
  font-size: var(--font-size-mobile-body-medium);
  text-align: center;
  color: var(--neutral-color-white);
  padding: var(--padding-button);
  height: auto;
  width: auto;
  display: block;
  cursor: pointer;
}

.button__primary {
  background-color: var(--primary-color-normal);
}

.button__primary:hover {
  background-color: var(--primary-color-normal-hover);
}

.button__primary:active {
  background-color: var(--primary-color-normal-active);
}

.button__secondary {
  background-color: var(--neutral-color-light);
  color: var(--neutral-color-black);
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--primary-color-normal);
  outline-offset: -2px;
}

.button__secondary:hover {
  background-color: var(--primary-color-light-hover);
}

.button__secondary:active {
  background-color: var(--primary-color-light-active);
}

.button__cta {
  background-color: var(--secondary-color-normal);
}

.button__cta:hover {
  background-color: var(--secondary-color-normal-hover);
}

.button__cta:active {
  background-color: var(--secondary-color-normal-active);
}

.card {
  background-color: var(--primary-color-light-hover);
}

.card__small {
  padding: 1rem;
}

.card__medium {
  padding: 1.5rem;
}

.hero {
  color: var(--neutral-color-light);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  min-height: 200px;
  justify-content: center;
  align-items: center;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: var(--font-size-mobile-body-medium);
  padding: 1rem 0rem 1rem 1rem;
}

@media (min-width: 600px) {
  section {
    scroll-margin-top: 5.75rem;
  }

  .container {
    padding: var(--padding-desktop-content);
  }

  .button {
    width: fit-content;
  }

  .hero {
    min-height: 400px;
  }

  .button,
  input,
  button,
  textarea,
  select {
    font-size: var(--font-size-desktop-body-medium);
  }
}

/* || Header and Main Navigation */

header {
  background-color: var(--primary-color-dark);
  color: var(--neutral-color-light);
  top: 0;
  position: sticky;
}

.header__content {
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-mobile-header);
  min-height: 100%;
}

.header__logo {
  height: 2.5rem;
}

/* header .button__cta {
  display: none;
} */

nav {
  display: none;
  font-size: var(--font-size-mobile-body-medium);
  background-color: var(--neutral-color-light);
  color: var(--neutral-color-black);
  position: fixed;
  right: 0rem;
  top: 3.5rem;
  width: 100%;
  height: 100vh;
}

.nav__active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--neutral-color-light);
}

/* .nav__links {
  padding: 0rem;
} */

/* .nav__links a {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem;
} */

.nav__links a {
  width: auto;
  padding: 3px 0;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 1rem;
}

.nav__links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--neutral-color-light);
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.nav__links a:hover::after,
.nav__links a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* .nav__links a:hover {
  background-color: var(--primary-color-light-hover);
}

.nav__links a:active {
  background-color: var(--primary-color-light-active);
} */

#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
  font-weight: 600;
  right: -1000px;
  animation-name: fly-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fly-in {
  100% {
    right: 0px;
  }
}

@media (min-width: 800px) {
  .header__content {
    padding: var(--padding-desktop-header);
  }

  .header__logo {
    height: 3.75rem;
  }

  .header__right-content {
    display: flex;
    gap: 2rem;
  }

  /* header .button__cta {
    display: block;
  } */

  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
    font-size: var(--font-size-desktop-body-medium);
    color: var(--neutral-color-white);
    background-color: transparent;
    position: relative;
    right: auto;
    top: auto;
    height: auto;
  }

  .nav__links {
    flex-direction: row;
    gap: 2rem;
  }

  .nav__links a {
    width: auto;
    padding: 3px 0;
    display: block;
    position: relative;
    overflow: hidden;
  }

  /* .nav__links a:hover {
    background-color: transparent;
    text-decoration: underline;
  }

  .nav__links a:active {
    background-color: transparent;
    text-decoration: underline;
  } */

  .nav__links a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--neutral-color-light);
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }

  .nav__links a:hover::after,
  .nav__links a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* ||Footer */

footer {
  background-color: var(--primary-color-dark);
  color: var(--neutral-color-light);
  font-size: var(--font-size-mobile-body-medium);
}

footer a {
  color: var(--neutral-color-white);
}

footer section {
  text-align: center;
  gap: 0.5rem;
}

footer li {
  line-height: 2;
}

.footer__content {
  align-items: center;
  gap: 2rem;
}

.footer__link-lists,
.footer__newsletter-social div {
  gap: 2rem;
}

.footer__social-media {
  align-items: center;
}

.footer__social-media-icons {
  gap: 2rem;
}

.footer__social-media-icons li {
  cursor: pointer;
}

.footer__newsletter {
  gap: 1rem;
}

.footer__bottom-text,
.footer__terms-privacy-links {
  gap: 0.5rem;
  text-align: center;
}

.footer__bottom-text {
  font-size: var(--font-size-mobile-body-small);
}

.footer__bottom-text a {
  text-decoration: underline;
  font-size: var(--font-size-mobile-body-medium);
}

.footer__copyright {
  font-size: var(--font-size-mobile-body-x-small);
}

.footer__all-rights p {
  padding-bottom: 0.5rem;
}

.footer__bar {
  display: none;
}

@media (min-width: 600px) {
  footer {
    font-size: var(--font-size-desktop-body-medium);
  }

  footer h4 {
    text-align: center;
  }

  .footer__content {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: auto auto auto;
    gap: 2rem;
    justify-content: center;
  }

  .footer__link-lists {
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer__newsletter-social {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: center;
  }

  .footer__bottom-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: var(--font-size-desktop-body-small);
  }

  .footer__all-rights {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .footer__terms-privacy-links {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .footer__copyright {
    font-size: var(--font-size-desktop-body-x-small);
  }

  .footer__bar {
    display: flex;
  }
}

@media (min-width: 1210px) {
  footer h4 {
    text-align: left;
  }

  footer section {
    text-align: left;
  }

  .footer__social-media {
    align-items: flex-start;
  }

  .footer__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
  }

  .footer__link-lists {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer__newsletter-social {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: flex-end;
  }

  .footer__bottom-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
